<h4><%= place.name %></h4>
<img class="info-image" src="<%= place.image %>" alt="places">

<div class="text-box">
  <%= place.description %>
</div>


<button class="detail" data-placeId=<%= "#{place.id}"%>>Details</button>
<select data-placeId=<%= "#{place.id}" %> name="date" class="date">
  <option value="">--Select Date--</option>
  <%= dates.each_with_index do |date,i| %>
    <option class="day" data-date="<%= date %>" value="<%= i + 1 %>" >Day <%=i + 1%> (<%= date%>)</option>
  <% end %>
</select>
