<div class="day-container" data-controller="sortable">
  <% @dates.each_with_index do |date,i| %>
    <div class="date-box">
      <h5 class="date-title"><strong><%= date.strftime("%A, %B %d") %></strong></h3>
    </div>
    <% activities = @activities.where(date: date).order(:event_sequence) %>
    <div data-sortable-target="activity" id="<%= i %>">
      <% activities.each_with_index do |activity,i| %>
        <div class="activity" >
          <div class="activity-col-1">
            <i class="fa-solid fa-location-dot fa-2xl"></i>
            <div>
              <h6><%= i+1 %>. <%= activity.place.name %></h6>
              <p class="activity-decription"><%= activity.place.description %></p>
            </div>
          </div>
          <div class="activity-col-2"><i
        data-activity-id="<%= activity.id %>"
        data-place-id="<%= activity.place.id %>"
        class="fa-solid fa-trash fa-xl delete-activity"></i></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= form_with url: "/itineraries/#{@itinerary.id}/activities/sort", method: :post, class:"hidden-form-3" do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'data','none', class:"data-hidden-3"  %>
  <%= f.submit "submit", class:"submit-hidden-3 d-none" %>
<% end %>
