<% index = 1 %>
<% @dates.each_with_index do |date,i| %>
  <% @activities_day = @activities.where(date: date).order(:event_sequence)%>
  <% day_index = @dates_all.index(date) %>
  <h3 class="summary-day-date">Day <%= day_index+1 %>: <%= date.strftime("%A, %B %d") %></h3>

  <% @activities_day.each_with_index do |activity,j| %>
    <% reviews = activity.reviews.where(user: @itinerary.user) %>
    <div class="activity_container">
      <div class="daily_activity">
        <div class="place_thumbnail">
        <%# edited here- change review image to places image %>
            <%= image_tag activity.place.image, class:"review-image" %>
        </div>
        <div class="place_summary">
          <div class="place-summary-title d-flex .justify-content-between">
            <h4 class="activity-place"><%= index %>. <%= activity.place.name %></h4>
            <% index = index + 1 %>
            <h4 class="activity-date"><%= activity.date.strftime("%b %d")  %></h4>
          </div>
          <% reviews.each do |review| %>
            <% emptystar = 5 - review.rating %>
            <% review.rating.times do |i|%>
              <i class="fa-solid fa-star review-rating"></i>
            <% end %>
            <% emptystar.times do |i|%>
              <i class="fa-regular fa-star review-rating-empty"></i>
            <% end %>
            <h5><%= review.comment %></h5>
            <div class="review-name">
              <h6 >- <%= review.user.first_name %></h6>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
