<div class="home-banner">
  <div class="home-container">
    <div class="main-text">
      <h1><span data-controller="typed-js"></span></h1>
    </div>
    <div class="title-content">
      <%# <h1>Hello</h1>
      <h1>World!</h1> %>
      <%# <div class="main-text"><h1><span data-controller="typed-js"></span></h1></div> %>
      <div class="p-text">
        <p>And so I cry sometimes when I'm lying in bedJust to get it all out what's in my headAnd I, I'm feeling a little peculiarAnd so I wake in the morning and I step outsideAnd I take a deep breath and get real highAnd I scream from the top of my lungsWhat's goin' on?And I say hey, yeah, yeah, yeah yayHey, yay, yayI said hey, what's goin' on? </p>
      </div>
    </div>
    <div class="home-action">
      <%= link_to 'Create itinerary', new_itinerary_path, class:"home-action-text text-1" %>
      <h3></h3>
      <%= link_to 'Browse itinerary', new_itinerary_path, class:"home-action-text text-2" %>
    </div>
  </div>
</div>
<div class="container" >
  <div class="trending-container text-center mt-6">
    <h2>Trending Itineraries</h2>
    <!-- Slider main container -->
    <div class="swiper mySwiper mt-6">
      <div class="swiper-wrapper">
        <% @itineraries.each do |itinerary| %>
          <div class="swiper-slide card-container">
            <img src="<%= itinerary.image %>" alt="">
            <div class="card-title"><%= itinerary.title %></div>
            <div class="card-country"><%= itinerary.address %></div>
            <div class="bottom-container"><%= "Visit: marina bay sands, national university of Singapore, Merlion" %></div>
          </div>
        <% end %>
      </div>
    </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </div>
</div>
<div class="country-1 mt-5" data-controller="home">
  <div class="country-container-1">
    <img class="country-img-1" src="/assets/country1.png" alt="">
    <div>
      <h2>Indonesia, Batam</h2>
      <h5>And so I cry sometimes when I'm lying in bedJust to get it all out what's in my headAnd I, I'm feeling a little peculiarAnd so I wake in the morning and I step outsideAnd I take a deep breath and get real highAnd I scream from the top of my lungsWhat's goin' on?And I say hey, yeah, yeah, yeah yayHey, yay, yayI said hey, what's goin' on?
      </h5>
    </div>
  </div>
</div>
<div class="country-2" data-controller="home">
  <div class="country-container-2">
    <img class="country-img-2" src="/assets/country2.png" alt="">
    <div>
      <h2>Vietnam, Saigon</h2>
      <h5>And so I cry sometimes when I'm lying in bedJust to get it all out what's in my headAnd I, I'm feeling a little peculiarAnd so I wake in the morning and I step outsideAnd I take a deep breath and get real highAnd I scream from the top of my lungsWhat's goin' on?And I say hey, yeah, yeah, yeah yayHey, yay, yayI said hey, what's goin' on?
      </h5>
    </div>
  </div>
</div>

<div class="country-3" data-controller="home">
  <div class="country-container-3">
    <div>
      <h2>USA, Rocky Hill</h2>
      <h5>And so I cry sometimes when I'm lying in bedJust to get it all out what's in my headAnd I, I'm feeling a little peculiarAnd so I wake in the morning and I step outsideAnd I take a deep breath and get real highAnd I scream from the top of my lungsWhat's goin' on?And I say hey, yeah, yeah, yeah yayHey, yay, yayI said hey, what's goin' on?
      </h5>
    </div>
    <img class="country-img-3" src="/assets/country3.jpg  " alt="">
  </div>
</div>

<div class="footer-container">
  <div class="container">
    <div class="first-line d-flex align-items-center">
      <h5>Create your itineraries.</h5>
      <button class="btn-footer">Get started</button>
    </div>
    <div class="second-line d-flex align-items-center">
      <div class="second-line-col">
        <p>Your Account</p>
        <p>Settings</p>
        <p>Log out</p>
        <p>Help</p>
        <p>Become an Affiliate</p>
      </div>
      <div class="second-line-col">
        <p>Discover</p>
        <p>Groups</p>
        <p>Calendar</p>
        <p>Topics</p>
        <p>Cities</p>
        <p>Online Places</p>
        <p>Local Guides</p>
      </div>
      <div class="second-line-col">
        <p>Hello World</p>
        <p>About</p>
        <p>Blog</p>
        <p>Meetup Pro</p>
        <p>Careers</p>
        <p>Apps</p>
        <p>Podcast</p>
      </div>
    </div>
    <div class="third-line">
      <div class="third-line-col">
        <p class="py-3">Follow us</p>
        <div class="banner-icons"><i class="fa-brands fa-facebook fa-xl"></i><i class="fa-brands fa-instagram fa-xl"></i><i class="fa-brands fa-twitter fa-xl"></i><i class="fa-brands fa-youtube fa-xl"></i><i class="fa-brands fa-tiktok fa-xl"></i></div>
      </div>
      <div class="third-line-col-2">
        <img src="https://secure.meetupstatic.com/next/images/app-download/android/download_en-US.svg?w=256" alt="">
        <img src="https://secure.meetupstatic.com/next/images/app-download/ios/download_en-US.svg?w=256" alt="">
      </div>
    </div>
    <div class="fourth-line">
      <p>© 2022 Hello World</p>
      <p>Terms of Service</p>
      <p>Privacy Policy</p>
      <p>Cookie Settings</p>
      <p>Cookie Policy</p>
      <p>Help</p>
    </div>
  </div>
</div>


<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
</script>
