<div class="home-banner">
  <div class="home-container">
    <div class="main-text">
      <h1><span data-controller="typed-js"></span></h1>
    </div>
    <div class="title-content">
      <%# <h1>Hello</h1>
      <h1>World!</h1> %>
      <%# <div class="main-text"><h1><span data-controller="typed-js"></span></h1></div> %>
      <div class="p-text">
        <p>
          A full day by day itinerary based on your preferences. Plan your itinerary the simpler way. Imagine checking one place for your travel details and getting a heads up as things happen throughout your trip. See why life without Hello World is a distant memory for millions of travelers. Try the travel app that keeps up with you.
          Let Hello World worry about the details, so you don't have to.
        </p>
      </div>
    </div>
    <div class="home-action">
      <%= link_to 'Create itinerary', new_itinerary_path, class:"home-action-text text-1" %>
      <h3></h3>
      <%= link_to 'Browse itinerary', itineraries_path, class:"home-action-text text-2" %>
    </div>
  </div>
</div>
<div class="container" >
  <div class="trending-container text-center mt-6">
    <h2>Trending Itineraries</h2>
    <!-- Slider main container -->
    <div class="swiper mySwiper mt-6">
      <div class="swiper-wrapper">
        <% @itineraries.each do |itinerary| %>
          <div class="swiper-slide card-container">
            <img src="<%= itinerary.image %>" alt="">
            <div class="card-title"><%= itinerary.title %></div>
            <div class="card-country"><%= itinerary.address %></div>
            <div class="bottom-container"></div>
          </div>
        <% end %>
      </div>
    </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
  </div>
</div>
<div class="country-1 mt-5" data-controller="home">
  <div class="country-container-1">
    <%= image_tag "country1.png", class: "country-img-1 mt-5" %>
    <div>
      <h2>Indonesia, Batam</h2>
      <h5>Just a speedboat ride from Singapore, Batam’s beaches and bars tempt visitors with dishes of chili crab, grilled lobster, and freshly caught fish. While travellers golf, snorkel, and spa-hop, the island’s traditional culture thrives in fishing villages built on wooden stilts. All the destinations, guidance, lists, and more to help make your next trip better than ever.</h5>
    </div>
  </div>
</div>
<div class="country-2" data-controller="home">
  <div class="country-container-2">
    <%= image_tag "country2.png", class: "country-img-2" %>
    <div>
      <h2>Vietnam, Saigon</h2>
      <h5>As Vietnam’s largest economic centre and cultural capital, Ho Chi Minh City boasts soaring skyscrapers that tower over charming French colonial structures and traditional pagodas from Saigon’s yesteryear. Past the bustling streets and dizzying traffic, uncover the delicious street food, booming nightlife and historical landmarks that give this city its distinct appeal. Visit The War Remnants Museum for a glimpse into the Vietnam War, wander down Bui Vien Street for cheap beer or cruise through the Mekong Delta for sprawling views of paddy fields and houseboats.

      </h5>
    </div>
  </div>
</div>

<div class="country-3" data-controller="home">
  <div class="country-container-3">
    <div>
      <h2>United States, Red Rock Park</h2>
      <h5>Open-air amphitheatre built into a rock structure in the western United States, near Morrison, Colorado, ten miles (16 km) west of Denver. There is a large, tilted, disc-shaped rock behind the stage, a huge vertical rock angled outwards from stage right, several large outcrops angled outwards from stage left and a seating area for up to 9,525.
      </h5>
    </div>
    <%= image_tag "country3.jpg", class: "country-img-3" %>
  </div>
</div>


<div class="footer-container">
  <%= render "shared/footer" %>
</div>


<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
</script>
