<%# <div class="plan-main-container"> %>
<%# <div class="grid-container"> %>
<%# <div class="banner-container">dede
    dsfdfd
    fdfdfd
    fdfd
    dddd
    dffe
  </div> %>
<div class="side-bar">
  <div class="days-container">
    <%= render "itineraries/sidebar_activity", locals: {activities: @activities,dates: @dates} %>
  </div>
  <div class="side-bar-bottom">
    <%# <%= link_to "Back to Dashboard", dashboard_itineraries_path, class:"btn btn-dashboard" %>
    <%# <button class="btn btn-dashboard" >Back to Dashboard</button> %>
    <%# <button class="btn btn-complete" onclick="window.location.href='';">Complete</button> %>
    <form action="/itineraries/dashboard">
		  <button class="btn btn-complete" type="submit"> complete </button>
    </form>
  </div>
</div>
<div data-controller="map"
    id='map'
    class="map-container"
    data-map-center-value="<%= @center.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-geojson-value="<%= @geodata_json %>"
    data-map-activities-id-value="<%= @activities_id %>">
      <div class="toggle-sidebar"><i class="fa-solid fa-bars fa-2xl"></i></div>
  <div class="toggle-icons"><i class="fa-solid fa-layer-group fa-2xl"></i></div>
  <div class="filter-container">
    <%# <div>Foods</div>
    <div>Interesting Places</div>
    <div>Buildings</div> %>
  </div>
</div>
</div>
</div>
<div class="sidebar d-flex flex-column">
  <div class="sidebar_container tgrey mt-5 m-4  ">
    <button class="btn close"><i class="fa-solid fa-xmark fa-xl"></i></button>
    <div class="info_container scroll">
      <h1 id="place_name"></h1>
      <div class ="d-flex flex-row ">
        <div>
          <p id="place_rating"></p>
        </div>
        <div class ="ps-2">
          <p><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
        </div>
      </div>
      <p id="place_booking"></p>
      <div class ="pt-1 pb-1">
        <p class="filter d-inline" id="place_category"></p>
      </div>
      <div class ="pt-3 pb-4">
        <img id ="place_img"src="" alt="">
      </div>
      <div class="text_description">
        <p id="place_description"></p>
        <%# <div class ="box">
            <div class="overlay"></div>
          </div> %>
      </div>
    </div>
  </div>
</div>

<div class="dates-sidebar">
  <div class="dates-sidebar-container">
    <button class="btn close"><i class="fa-solid fa-xmark fa-xl"></i></button>
    <%= link_to "Edit Itinerary", plan_itinerary_path(@itinerary), class:"link-block side-link"%>
    <%= link_to "Itinerary Summary", plan_itinerary_path(@itinerary), class:"link-block side-link" %>
    <div class="link-block side-link dropdown-label">Itinerary <i class="fa-solid fa-caret-right"></i></div>
    <div class="dates-dropdown">
    <% @dates.each_with_index do |date,i| %>
    <%= link_to "Day #{i+1}", "/itineraries/#{@itinerary.id}/activities/#{i+1}", class:"link-block side-link" %>
    <% end %>
    </div>
  </div>
</div>


<%= form_with url: "/itineraries/#{@itinerary_id}/delete", method: :post, class:"hidden-form-2" do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'data','none', class:"data-hidden-2"  %>
  <%= f.submit "submit", class:"submit-hidden-2 d-none" %>
<% end %>
