
<div class="plan-main-container">
<div class="grid-container">
  <div class="banner-container">dede
    dsfdfd
    fdfdfd
    fdfd
    dddd
    dffe
  </div>
  <div class="side-bar">
    <div class="days-container">
     <%= render "itineraries/sidebar_activity", locals: {activity: @activities,dates: @dates} %>
    </div>
    <div class="side-bar-bottom">
      <button class="btn btn-dashboard" >Back to dashboard</button>
      <button class="btn btn-complete">Complete</button>
    </div>
  </div>
  <div data-controller="map"
    id='map'
    class="map-container"
    data-map-center-value="<%= @center.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-geojson-value="<%= @geodata_json %>">
  </div>
</div>
</div>

<%= form_with url: "/itineraries/#{@itinerary_id}/delete", method: :post, class:"hidden-form-2" do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'data','none', class:"data-hidden-2"  %>
  <%= f.submit "submit", class:"submit-hidden-2 d-none" %>
<% end %>
