<link
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
   integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
   crossorigin="anonymous"
  />
<%# working copy %>
<% if itinerary.phase == "completed" %>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <% reviews = Review.joins(:activity).where("activities.itinerary_id = ? ", itinerary.id) %>

      <%# case when: no reviews and no itinerary images for looping%>
      <% if reviews.with_attached_photo.empty? == true && itinerary.photos.attached? == false  %>
        <div class="carousel-item active" style=<%= "background-image:url(#{itinerary.image})"%> ></div>
          <div class="carousel-content">
            <%= link_to "/itineraries/#{itinerary.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"itinerary-delete-link" do %>
              <i class="fa-solid fa-trash-can itinerary-delete"></i>
            <% end %>
            <span><i class="fas fa-thumbs-up"></i><p>0</p></span>
          </div>

      <%# case when: no reviews but have itinerary images for looping%>
      <% elsif reviews.with_attached_photo.empty? == true %>
        <% itinerary.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index.zero? %>" style="background-image: url(<%= cl_image_path(photo.key) %>)"></div>
            <div class="carousel-content">
              <%= link_to "/itineraries/#{itinerary.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"itinerary-delete-link" do %>
                <i class="fa-solid fa-trash-can itinerary-delete"></i>
              <% end %>
              <span><i class="fas fa-thumbs-up"></i><p>0</p></span>
            </div>
        <% end  %>


      <%# case when: have both reviews and itinerary images for looping   OR   have reviews but no itinerary image %>
      <% else %>
        <% reviews.each_with_index do |review, index| %>
          <div class="carousel-item <%= "active" if index.zero? %>" style="background-image: url(<%= cl_image_path(review.photo.key) %>)"></div>
            <div class="carousel-content">
              <%= link_to "/itineraries/#{itinerary.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"itinerary-delete-link" do %>
                <i class="fa-solid fa-trash-can itinerary-delete"></i>
              <% end %>
              <span><i class="fas fa-thumbs-up"></i><p>0</p></span>
            </div>
          <% if index == reviews.size - 1 %>
            <% itinerary.photos.each_with_index do |photo, index| %>
              <div class="carousel-item" style="background-image: url(<%= cl_image_path(photo.key) %>)"></div>
            <% end  %>
          <% end  %>
        <% end  %>
      <% end %>

    </div>

<%# style="background-image: url('<img src=" http:="" res.cloudinary.com="" dhsjrqv5w="" image="" upload="" v1="" development="" 1n1p4r493c45qhq2r6spdy08pv9m"="">');"&gt; %>



<% else %>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%# <div class="carousel-item active" style="background-image:url('https://images.unsplash.com/photo-1574007557239-acf6863bc375?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')"></div> %>
      <div class="carousel-item active" style=<%= "background-image:url(#{itinerary.image})"%> ></div>
      <div class="carousel-content">
          <%= link_to "/itineraries/#{itinerary.id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"itinerary-delete-link" do %>
            <i class="fa-solid fa-trash-can itinerary-delete"></i>
          <% end %>
          <span><i class="fas fa-thumbs-up"></i><p>0</p></span>
      </div>
    </div>
<% end %>

  <div class="container__profile">
    <p class="phase"><%= itinerary.phase %></p>
     <% if current_user.image.key.nil? %>
      <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    <% else %>
      <%= cl_image_tag current_user.image.key  %>
    <% end %>
    <div class="container__profile__text">
     <h2><%= itinerary.address %></h2>
     <h6><%= itinerary.title %></h6>
     <p>by <b><%= itinerary.user.first_name %></b></p>

      <div class="container_buttons d-flex justify-content-start">
        <div class="pe-1">
          <form class="form_button" action=<%="/itineraries/#{itinerary.id}/plan"%>>
            <button class="btn button-74" type="submit">edit</button>
          </form>
        </div>
        <div class="">
          <form action=<%="/itineraries/#{itinerary.id}/summary"%>>
            <button class="btn button-75" type="submit">detail</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
