<div class="activity-date-box">
  <h4 class="activity-day-date"><strong><%= @date_day.strftime("%A, %B %d") %></strong></h4>
</div>
<div class="wrapper scroll">
  <% index = 0%>
  <% @activities_done.each_with_index do |activity,i|%>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-2xl number"><strong><%= activity.event_sequence %></strong></i>
        <div class="details mb-2">
          <span class="title"><%= activity.place.name %></span>
        </div>
        <% activity.reviews.each_with_index do |review,i|%>
          <%= link_to "/itineraries/#{activity.itinerary.id}/activities/#{activity.day}/reviews/#{activity.reviews[0].id}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"review-delete-link" do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
          <% unless review.photo.key.nil? %>
            <%= cl_image_tag review.photo.key, class:"review-image"%>
          <% end %>
          <% emptystar = 5 - review.rating %>
          <% review.rating.times do |i|%>
            <i class="fa-solid fa-star review-rating"></i>
          <% end %>
           <% emptystar.times do |i|%>
            <i class="fa-regular fa-star review-rating-empty"></i>
          <% end %>
          <p><%= review.comment %></p>
          <p class="user-name"><em>by <%= review.user.first_name %></em></p>
        <% end %>
        <%# <div class="bottom">
          <a href="#">View Review</a>
        </div> %>
      </section>
    </div>
    <% index = index + 1%>
  <% end %>
  <%# <div class="center-line" style=<%="height:#{(index-1)*50}%;"%>
    <%# <a href="#" class="scroll-icon"></a> %>
  <%# </div> %>
</div>
