<div class="activity-side-bar">
  <div class="activity-side-bar-review">
    <%= render "activities/sidebar_dayactivities", locals: {activities_done: @activities_done, date_day: @date_day} %>
  </div>
  <div class="activity-side-bar-bottom">
    <%# <%= link_to "Back to Dashboard", dashboard_itineraries_path, class:"btn btn-dashboard" %>
    <%# <button class="btn btn-dashboard" >Back to Dashboard</button> %>
    <%# <link_to > %>
    <div class="prev-next-container">
      <% if @day - 1 >= 1 %>
        <div class="d-flex align-items-center">
          <%= link_to "Prev Day", "/itineraries/#{@itinerary.id}/activities/#{@day - 1}", class:"btn btn-prev" %>
        </div>
      <% else %>
        <button class="btn btn-prev" disabled></button>
      <% end %>
      <% if @day + 1 > @days_count %>
        <%= link_to "Summary", "/itineraries/#{@itinerary.id}/summary/", class:"btn btn-next" %>
      <% else%>
        <%# <button class="btn btn-next">Next Day</button> %>
        <%= link_to "Next Day", "/itineraries/#{@itinerary.id}/activities/#{@day + 1}", class:"btn btn-next" %>
      <% end %>
    </div>
  </div>
</div>
<div data-controller="mapday"
    id='map'
    class="mapday-container"
    data-mapday-center-value="<%= @center.to_json %>"
    data-mapday-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-mapday-geojson-value="<%= @geodata_json %>"
    data-mapday-activities-value="<%= @activities %>">
  <div class="toggle-sidebar"><i class="fa-solid fa-bars fa-2xl"></i></div>
  <div class="mapday-filter-container">
    <div class="direction">Direction</div>
    <%# <div class="driving">Driving</div>
    <div class="cycling">Cycling</div> %>
  </div>
</div>
</div>
</div>
<div class="dates-sidebar">
  <div class="dates-sidebar-container">
    <button class="btn close"><i class="fa-solid fa-xmark fa-xl"></i></button>
    <%= link_to "Edit Itinerary", plan_itinerary_path(@itinerary), class:"link-block side-link"%>
    <%= link_to "Itinerary Summary", summary_itinerary_path(@itinerary), class:"link-block side-link" %>
    <div class="link-block side-link dropdown-label">Itinerary <i class="fa-solid fa-caret-right cr"></i><i class="fa-solid fa-sort-down cd d-none"></i></div>
    <div class="dates-dropdown d-none scroll">
      <% @dates.each_with_index do |date,i| %>
        <div class="d-flex align-items-center">
          <% if date == @dates[@day-1] %>
            <i class="fa-solid fa-caret-right cr-date"></i>
          <% end %>
          <%= link_to "Day #{i+1}", "/itineraries/#{@itinerary.id}/activities/#{i+1}", class:"link-block side-link" %>
        </div>
      <% end %>
    </div>
    <%= link_to "Back to Dashboard", dashboard_itineraries_path, class:"link-block side-link dashboard" %>
  </div>
</div>
<div class="modal-overlay">
  <div class="modal-close-botton"><i class="fa-solid fa-xmark fa-2xl"></i></div>
  <div class="activity-form-container">
    <h1 class="text-center mt-3 mb-3">Review Activity</h1>
    <div class="review-banner-container">
      <div class="review-content-container place-content">
        <img src="https://images.unsplash.com/photo-1500076656116-558758c991c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y291bnRyeXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
        <div class="review-title-content">
          <h4>Title</h4>
          <div class="text-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, repellat adipisci? Magnam, ipsum autem perferendis magni ad culpa tenetur! Maiores!</p>
          </div>
        </div>
      </div>
      <div class="media-container review-content-container">
        <%= form_with url: "/itineraries/#{@itinerary.id}/activities", method: :post, class:"hidden-form-2" do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag 'data','none', class:"review-form-hidden"  %>
          <div class="photo-container-main">
            <div class="photo-container">
              <i class="fa-solid fa-camera fa-2xl">
              </i>
              <div class="addphoto">Add Photo</div>
              <%= f.file_field :photo, class:"photo d-none" %>
            </div>
          </div>
          <div class="text-area-container"><%= f.text_area(:text, placeholder:"Share your review on this activity.", class:"review-text-area") %></div>
          <%= f.label :rating, "Rate your activity" , class:"title-label mt-3"%>
          <div class="review-bottom">
            <select hidden name="rating" id="rating" data-controller="star-rating" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <%= f.submit "Submit", class:"submit-review-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= form_with url: "/itineraries/#{@itinerary_id}/delete", method: :post, class:"hidden-form-2" do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag 'data','none', class:"data-hidden-2"  %>
  <%= f.submit "submit", class:"submit-hidden-2 d-none" %>
<% end %>
